@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: #fb6b6b;
  margin-bottom: 140px;
}

@media (min-width: 800px) {
  body {
    margin-bottom: 200px;
  }
}
