@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-color: #FB6B6B;
    margin-bottom: 80px;
}

.screen-welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 136px;
    height: 161px;
}

.title {
    font-size: 36px;
    color: #FFFFFF;
    margin: 25px 0;
    font-family: Righteous;
}

.button-start {
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: Recursive;
    font-weight: 400;
    font-size: 18px;
    color: #D70900;
}

.flashcards-closed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    width: 265px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}


.flashcard {
    width: 300px;
    height: 65px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.flashcard p {
    font-family: Recursive;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
}

.flashcard ion-icon {
    font-size: 25px;
    margin-right: 15px;
}

.flashcard img {
    margin-right: 15px;
}

.completed {
    width: 100vw;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.completed p {
    font-family: Recursive;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 5px;
}

.completed img {
    margin-left: 3px;
}

.card-front {
    width: 300px;
    height: 130px;
    background-color: #FFFFD4;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    position: relative;
}

.card-front>h1 {
    font-family: Recursive;
    font-size: 18px;
    font-weight: 400;
    margin-left: 15px;
    padding-top: 15px;
}

.seta {
    width: 25px;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.botoes {
    width: 100%;
    position: absolute;
    bottom: 4px;
    display: flex;
    justify-content: center;
}

.nao-lembrei,
.quase,
.zap {
    width: 85px;
    height: 38px;
    font-size: 14px;
    font-family: Recursive;
    color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.nao-lembrei {
    background-color: #FF3030;
    margin-right: 5px;
}

.quase {
    background-color: #FF922E;
    margin-right: 5px;
}

.zap {
    background-color: #2FBE34;
}

.vermelho, 
.laranja, 
.verde {
    text-decoration: line-through;
}

.vermelho {
    color: #FF3030;
}

.verde {
    color: #2FBE34;
}

.laranja {
    color: #FF922E;
}