.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.message div img {
  margin-right: 6px;
}

.message span {
  font-family: Recursive;
  font-size: 18px;
  font-weight: 700;
  color: #333333;
}

.message>p {
  font-family: Recursive;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

@media (min-width: 800px) {
  .message>p {
    font-size: 22px;
  }
}
