.finished {
    width: 100vw;
    height: 90px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 70px;
}

.finished div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.finished div img {
    margin-right: 6px;
}


.finished span{
    font-family: Recursive;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
}